<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="candidato in candidatos" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{candidato.imagen}}">
        <h2>{{candidato.nombre}}</h2>
        <p>{{candidato.partido}}</p>
        <p>{{candidato.lista}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
