<ion-view view-title="Candidatos">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="candidato in candidatos" type="item-text-wrap" href="#/tab/chats/{{candidato.codigo}}">
        <img style="border: 2px solid {{partidos[candidato.partido].color}}" ng-src="data/IMG/candidatos/{{candidato.imagen}}">
        <h2>{{candidato.nombre}}</h2>
        <p style="color: {{partidos[candidato.partido].color}}">{{partidos[candidato.partido].nombre}}</p>
        <p>{{candidato.lista}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
